@import './variables.scss';

.container {
    height: 100%;
    width: 100%;

    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/cooking_better.png");
    background-position: 50% 60%;
    background-repeat: no-repeat;
    background-size: cover;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    height: 100%;
    width: 57vw;

    padding-top: 3vh;
    padding-right: 17vw;

    background-image: url("/overlay.svg");
    background-repeat: no-repeat;
    background-size: cover;

    color: black;
}

.title {
    margin: 0;

    font-size: 4.2vw;
    font-weight: 600;
    text-align: center;
}

.description {
    margin: 0;
    margin-top: 10px;

    font-size: 1.7vw;
    text-align: center;
}

.logo {
    position: relative;

    margin-top: 10vh;
    margin-bottom: 13vh;

    height: 16vw;
    width: 16vw;
}

.button {
    padding: 10px 30px;

    border: 3px solid $orange;
    border-radius: 20px;
    
    font-size: 3vw;

    transition: background-color 200ms linear;
}

.button:hover {
    background-color: $orange;
    color: white;
}

@media (max-width: $tablet-bp) {
    .textContainer {
        width: 50%;
        padding-right: 0;

        background-color: white;
        background-image: none;
    }

    .title {
        font-size: 4rem;
    }

    .description {
        font-size: 2rem;
    }

    .button {
        font-size: 2em;
    }
}

@media (max-width: $phone-bp) {

    .textContainer {
        width: 100%;

        padding-top: 20px;
        padding: 10px;

        background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.6)), url("/cooking_better.png");
    }

    .title {
        font-size: 3rem;
    }

    .description {
        font-size: 2rem;
    }

    .logo {
        height: 30%;
        width: 100%;

        margin-bottom: 70px;
    }

    .button {
        font-size: 2rem;
    }
}