@import './variables.scss';

.container {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.recipeContainer {
    width: 70%;
    max-width: 1000px;

    margin-top: 100px;
    padding: 20px;

    background-color: white;
}

.title {
    width: 100%;

    margin: 0;

    font-size: 4rem;
    text-align: center;
}

.line {
    height: 2px;
    width: 80%;

    margin: 10px auto;
    margin-bottom: 40px;

    background-color: darkgray;
}

.landingImage {
    height: fit-content;
    width: fit-content;

    margin: 0 auto;
}

.ingContainer {
    width: 70%;

    margin: 60px auto;
    margin-bottom: 80px;
    padding: 10px 20px;
    padding-bottom: 20px;

    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}

.ingTitle {
    font-size: 3rem;
    text-align: center;
}

.ings {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}

.ing {
    width: fit-content;
    padding: 5px;
}

.stepContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    height: fit-content;
    width: 100%;

    margin: 25px 0;
}

.stepContent {
    width: 60%;

    margin-left: 2.5%;
}

.stepTitle {
    width: 60%;

    margin: 10px auto;
    margin-bottom: 40px;

    font-size: 2rem;
    text-align: center;
}

.stepText {
    width: 100%;

    font-size: 1.1rem;
    line-height: 2.3rem;
    text-indent: 3rem;
}

.stepImage {
    width: 35%;
}

@media (max-width: $phone-bp) {
    .recipeContainer {
        width: 100%;

        margin-top: 0;
    }

    .stepContainer {
        flex-direction: column;
        align-items: center;
    }

    .stepContent {
        width: 100%;
    }

    .stepText {
        width: 100%;
        
        text-align: center;
        text-indent: 0;
    }

    .stepImage {
        width: 60%;

        margin: 10px auto;
    }
}


.scoreContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;

    font-size: 1rem;
}

.score {
    color: black;
}

.ratingWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: fit-content;

    margin: 0 auto;
    padding: 30px 30%;
}

.ratingContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-size: 1.6rem;
}

.ratingText {
    padding-bottom: 10px;

    font-size: 1rem;
    font-style: italic;
    color: gray;
}

.rating {
    @extend .score;

    color: $orange;
}

.rating:hover {
    cursor: pointer;
}